.layout-content
  min-height: 100%;
  padding: 15px;
  // overflow: hidden;
  background: #fff;
  // border-radius: 4px;


/*margin 3~100*/
.margin_3{margin:3px;}
.margin_5{margin:5px;}
.margin_10{margin:10px;}
.margin_15{margin:15px;}
.margin_20{margin:20px;}
.margin_25{margin:25px;}
.margin_30{margin:30px;}
.margin_35{margin:35px;}
.margin_40{margin:40px;}
.margin_45{margin:45px;}
.margin_50{margin:50px;}
.margin_55{margin:55px;}
.margin_60{margin:60px;}
.margin_65{margin:65px;}
.margin_70{margin:70px;}
.margin_75{margin:75px;}
.margin_80{margin:80px;}
.margin_85{margin:85px;}
.margin_90{margin:90px;}
.margin_95{margin:95px;}
.margin_100{margin:100px;}

.content
  padding :10px;


/*margin-top  5-50*/
.margin_top_3{margin-top:3px;}
.margin_top_5{margin-top:5px;}
.margin_top_10{margin-top:10px;}
.margin_top_15{margin-top:15px;}
.margin_top_20{margin-top:20px;}
.margin_top_25{margin-top:25px;}
.margin_top_30{margin-top:30px;}
.margin_top_35{margin-top:35px;}
.margin_top_40{margin-top:40px;}
.margin_top_45{margin-top:45px;}
.margin_top_50{margin-top:50px;}
/*margin-bottom  5-50*/
.margin_bottom_3{margin-bottom:3px;}
.margin_bottom_5{margin-bottom:5px;}
.margin_bottom_10{margin-bottom:10px;}
.margin_bottom_15{margin-bottom:15px;}
.margin_bottom_20{margin-bottom:20px;}
.margin_bottom_25{margin-bottom:25px;}
.margin_bottom_30{margin-bottom:30px;}
.margin_bottom_35{margin-bottom:35px;}
.margin_bottom_40{margin-bottom:40px;}
.margin_bottom_45{margin-bottom:45px;}
.margin_bottom_50{margin-bottom:50px;}

/*padding 5-30*/
.padding_5{padding:5px}
.padding_10{padding:10px}
.padding_15{padding:15px}
.padding_20{padding:20px}
.padding_25{padding:25px}
.padding_30{padding:30px}

/*padding top left right 5-30*/
.paddingA_5{padding:5px 10PX}
.paddingA_10{padding:10px 15PX}
.paddingA_15{padding:15px 20PX}
.paddingA_20{padding:20px 25PX}
.paddingA_25{padding:25px 30PX}
.paddingA_30{padding:30px 35PX}

/*line-height*/
.line_height2{line-height:2}
.line_height3{line-height:3}

/* 清理浮动 */
.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.clearfix {
  zoom:1;
}
  .fl{float:left}
  .fr{float:right}
.pointer{cursor: pointer}

.breadcrumb-separator {
  color: #1C2438;
  padding: 0 5px;
}

.green {
  color: #22e407
}

.yellow {
  color: #ffc219
}

.red {
  color: #ff0000
}

.UNKNOWN, .unknown{color:#ff9900}
.UP, .up{
  color:#1cb89d;
  }
.DOWN, .down{color: #ff3300;}
.OFFLINE, .offline{color: #000}
